header{
    position:sticky;
    background: #171616;
    padding: 0;
}

a{
    color: white;
}

li a:hover{
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    
}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background: rgb(0, 0, 0);
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.container{
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 30px;
}

.logo img{
    width: 100px;
    height: 52px;
}

button{
  font-size: 1.0em;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  background-color: #F2C849;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover{
    background-color: #a3893c;
    cursor:pointer
}