<section id="favicon">
  <img src="flame-rating-images/flame-rating-background2.png" alt="flame-rating-favicon"/>
</section>

<section id="menu">
  @for (category of categorys; track category) {
    <div class="category">
      <h2>{{ category }}</h2>
      <hr>
      <ul>
            @for (videoGame of videoGames[category]; track videoGame) {
              <li>
                <a>
                  <img [src]="videoGame.image" [alt]="videoGame.title"/>
                  <div class="info">
                    <h3>{{ videoGame.title }}</h3>
                    <div class="platforms">
                      <ul>
                        @for (plataforma of getPlatformsArray(videoGame.platform); track plataforma) {
                          <li>
                            {{ plataforma }}
                          </li>
                        }
                        </ul>
                    </div>
                    <p>{{ videoGame.synopsis}}</p>
                    <div class="rating">
                      <span>{{ videoGame.averageRating }}</span>
                    </div>
                    <button>Ver más</button>
                  </div>
                </a>
              </li>
            }
          </ul>
    </div>
  }
</section>