<section id="create-videogame">
    <h1>Crear Videojuego</h1>
    
    <form [formGroup]="videoGameForm" (ngSubmit)="onSubmit()">

        <div class="title-videogame">
            <label for="title-videogame">Título del Videojuego:</label>
            <input type="text" id="title-videogame" formControlName="title" placeholder="Ej: The Last of Us" maxlength="255">
            
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="error-message">
        
                <div *ngIf="title?.hasError('required')">
                    El título es requerido.
                </div>

                <div *ngIf="title?.hasError('titleExists')">
                    ¡Error! Ese título ya existe en la base de datos.
                </div>
                
            </div>
        </div>

        <div class="developer-videogame">
            <label for="developer-videogame">Desarrolladora:</label>
            <input type="text" id="developer-videogame" formControlName="developer" placeholder="Ej: Naughty Dog" maxlength="255">
            
            <div *ngIf="developer?.invalid && (developer?.dirty || developer?.touched)" class="error-message">
                <div *ngIf="developer?.hasError('required')">La desarrolladora es requerida.</div>
            </div>
        </div>

        <div class="synopsis-videogame">
            <label for="synopsis-videogame">Sinopsis:</label>
            <textarea id="synopsis-videogame" formControlName="synopsis" rows="10" maxlength="2000"></textarea>
            
            <div *ngIf="synopsis?.invalid && (synopsis?.dirty || synopsis?.touched)" class="error-message">
                <div *ngIf="synopsis?.hasError('required')">La sinopsis es requerida.</div>
            </div>
        </div>

        <div class="date-selector">
            <label for="release-date">Fecha de lanzamiento:</label>
            <input type="date" id="release-date" formControlName="releaseDate">
            
            <div *ngIf="releaseDate?.invalid && (releaseDate?.dirty || releaseDate?.touched)" class="error-message">
                <div *ngIf="releaseDate?.hasError('required')">La fecha es requerida.</div>
            </div>
        </div>

        <div class="category-selector">
            <label>Selecciona una categoría (Solo una):</label>

            <input 
            type="radio" 
            id="category-oneplayer" 
            name="category" value="Un Jugador"
            formControlName="category"
            >
            <label for="category-oneplayer">Un Jugador</label>

            <input 
            type="radio" 
            id="category-multiplayer" 
            name="category" value="Multijugador"
            formControlName="category"
            >
            <label for="category-multiplayer">Multijugador</label>

            <input 
            type="radio" 
            id="category-online" 
            name="category" value="En linea"
            formControlName="category"
            >
            <label for="category-online">En linea</label>
            
            <div *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="error-message">
                <div *ngIf="category?.hasError('required')">
                    Debes seleccionar una categoría.
                </div>
            </div>
        </div>

        <div class="genre-selector" formGroupName="genres">
            <label>Selecciona los géneros (puedes elegir varios):</label>
            <br>
            
            <input type="checkbox" id="gen-deportes" formControlName="Deportes">
            <label for="gen-deportes">Deportes</label>
            <input type="checkbox" id="gen-accion" formControlName="Accion">
            <label for="gen-accion">Acción</label>
            <input type="checkbox" id="gen-aventura" formControlName="Aventura">
            <label for="gen-aventura">Aventura</label>
            <input type="checkbox" id="gen-terror" formControlName="Terror">
            <label for="gen-terror">Terror</label>
            <input type="checkbox" id="gen-rol" formControlName="Rol">
            <label for="gen-rol">Rol</label>
            <input type="checkbox" id="gen-sandbox" formControlName="Sandbox">
            <label for="gen-sandbox">Sandbox</label>
            <input type="checkbox" id="gen-carreras" formControlName="Carreras">
            <label for="gen-carreras">Carreras</label>
            <input type="checkbox" id="gen-supervivencia" formControlName="Supervivencia">
            <label for="gen-supervivencia">Supervivencia</label>
            <input type="checkbox" id="gen-shooters" formControlName="Shooters">
            <label for="gen-shooters">Shooters</label>

            <div *ngIf="genres?.invalid && (genres?.dirty || genres?.touched)" class="error-message">
                <div *ngIf="genres?.hasError('minSelected')">Debes seleccionar al menos un género.</div>
            </div>
        </div>

        <div class="console-selector" formGroupName="consoles">
            <label>Selecciona las plataformas (puedes elegir varias):</label>
            <br> 
            
            <input type="checkbox" id="con-xbox" formControlName="Xbox">
            <label for="con-xbox">Xbox Series</label>
            <input type="checkbox" id="con-switch1" formControlName="Nintendo Switch 1">
            <label for="con-switch1">Nintendo Switch 1</label>
            <input type="checkbox" id="con-switch2" formControlName="Nintendo Switch 2">
            <label for="con-switch2">Nintendo Switch 2</label>
            <input type="checkbox" id="con-ps5" formControlName="PlayStation 5">
            <label for="con-ps5">PlayStation 5</label>
            <input type="checkbox" id="con-pc" formControlName="PC">
            <label for="con-pc">PC</label>

            <div *ngIf="consoles?.invalid && (consoles?.dirty || consoles?.touched)" class="error-message">
                <div *ngIf="consoles?.hasError('minSelected')">Debes seleccionar al menos una plataforma.</div>
            </div>
        </div>

        <div class="image-selector">
            <label for="selector-imagen">Elige una imagen principal:</label>
            <input type="file" id="selector-imagen" name="imagen" accept="image/jpg" (change)="onFileChange($event, 'image')">
            
            <div *ngIf="image?.invalid && (image?.dirty || image?.touched)" class="error-message">
                <div *ngIf="image?.hasError('required')">Debes seleccionar una imagen principal.</div>
            </div>
            
            <label for="selector-images">Imágenes complementarias:</label>
            <input type="file" id="selector-images" name="images" accept="image/jpg" multiple (change)="onFileChange($event, 'images')">
        </div>

        <div class="trailer-input">
            <label for="youtube-link">Trailer (Enlace de YouTube):</label>
            <input type="url" id="youtube-link" formControlName="youtubeLink" placeholder="https://www.youtube.com/watch?v=...">
            
            <div *ngIf="youtubeLink?.invalid && (youtubeLink?.dirty || youtubeLink?.touched)" class="error-message">
                <div *ngIf="youtubeLink?.hasError('required')">El enlace es requerido.</div>
                <div *ngIf="youtubeLink?.hasError('pattern')">El enlace no parece ser un link válido de YouTube.</div>
            </div>
        </div>

        <div class="buttons">
            <button type="button" id="cancel" routerLink="/main-menu">Cancelar</button>
            <button type="submit" id="save">Guardar</button>
        </div>

    </form> 
</section>