.resuelto {
    height: 80%;
    padding: 17.8% 0%;
}
.resuelto p {
    color: #212121;
}

.auth-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2), 
    0 5px 5px 0 rgb(0, 0, 0, 0.24) ;
    background: #000000;
    color: white;
}

button{
    background-color: #F2762E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid #FF9100;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, filter 0.2s ease;
}

button:hover {
  background-color: #FF9100;
}

.form-group{
    margin-bottom: 10px;
}

.form-group input{
    width: 90%;
    font-size: 16px;
    padding: 10px;
    border: 0;
    background: #d3c9c9;
    outline: none;
}

.switch-link{
    font-weight: bold;
    text-decoration: underline;

}