footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(45deg, #F2C849, #F29B30);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0%;
}


p {
  color: white;
}