.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}
.form-container, .preview-container {
  background-color: #2c2c34;
  padding: 30px;
  border-radius: 10px;
}
h2 { text-align: center; margin-bottom: 20px; color: #ffc107; }

.form-group { margin-bottom: 15px; }
label { display: block; margin-bottom: 5px; font-weight: bold; }
.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #1a1a1a;
  color: #fff;
}

.actions { display: flex; justify-content: space-between; margin-top: 20px; }
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn-cancel { 
  background-color: #fb4636; 
  border: 2px solid #fb4636; 
  color: white; 
}

.btn-cancel:hover { 
  background-color: #DA3426; 
  box-shadow: 0 0 10px rgba(240, 121, 112, 0.523);
}

.btn-next, .btn-publish { 
  background-color: #F2762E; 
  border: 2px solid #F2762E; 
  color: white; }

.btn-publish:hover, .btn-next:hover {
  background-color: rgba(211, 94, 26, 0.944);
  box-shadow: 0 0 10px rgba(246, 125, 55, 0.523);
}

/* Modal Exito */
.modal-backdrop {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex; justify-content: center; align-items: center;
}
.modal-content {
  background: #2c2c34; padding: 40px; border-radius: 10px; text-align: center;
}